#about {
    width: 100vw;
    height: 100%;
    display: grid;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    height: 100vh;
    display: grid;
}
/* ------------DEVELOPER--------------- */ 
.developer-wrap {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-self: center;
    align-self: end;
    margin: 0 auto;
}
.developer-text {
    grid-area: 1 / 1;
    justify-self: start;
    align-self: end;
    z-index: 1;
    width: 600px;
    text-align: left;
    margin-bottom: 60px;
    font-size: var(--font-size-body);
    color: var(--color-dark);
    text-shadow: 0 0 16px var(--color-light);
}
.developer-portrait {
    width: 1000px;
    grid-area: 1 / 1;
    justify-self: center;
    align-self: end;
}
.developer-graph {
    grid-area: 1 / 1;
    justify-self: end;
    align-self: start;
    margin-top: 50px;
    z-index: -1;
}

/* ------------DESIGNER--------------- */

.purple-bg {
    width: 100%;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: var(--color-primary);
    background-image: url(/Materials/noise.png);
    background-repeat: repeat;
    background-size: 600px;
    animation: grain-move 1s steps(10) infinite;
}

.designer-wrap {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-self: center;
    align-self: start;
    margin: 0 auto;
}
.designer-text {
    grid-area: 1 / 1;
    justify-self: end;
    align-self: start;
    z-index: 1;
    width: 600px;
    text-align: left;
    margin-top: 60px;
    font-size: var(--font-size-body);
    color: var(--color-light);
    
}
.designer-portrait {
    width: 1000px;
    grid-area: 1 / 1;
    justify-self: center;
    align-self: end;
    z-index: 1;
}
.designer-graph {
    grid-area: 1 / 1;
    justify-self: start;
    align-self: end;
    margin-bottom: 50px;
    
}

@media(max-width: 1600px) {
    .developer-text {
        width: 500px;
        font-size: 50px;
    }
}

@media(max-width: 1000px) {
    .container {
        width: 100vw;
        height: fit-content;
        padding-top: 120px;
    }
    .developer-wrap {
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }
    .developer-text {
        position: unset;
        width: 100%;
        max-width: 100%;
        font-size: 40px;
        justify-self: center;
    }
   .developer-portrait {
        width: 100%;
        max-width: 100%;
        grid-area: 2 / 1;
   }
   .developer-graph {
        position: unset;
        width: 100%;
        max-width: 100%;
        grid-area: 2 / 1;
        justify-self: center;
        margin-bottom: 100px;
        margin-top: 0;
   }
}

/* ------------ABOUT ME--------------- */

.aboutme-text-wrap {
    width: var(--website-width);
    margin: auto;
    display: grid;
    gap: 30px;
    margin-bottom: 300px;
}
.aboutme-text {
    font-size: var(--font-size-body);
    color: var(--color-light);
}

.stack-wrap {
    display: grid;
    gap: 30px;
    margin: auto;
    margin-bottom: 300px;
}
.stack-title {
    font-size: var(--font-size-h1);
    color: var(--color-light);
    text-align: center;
}
.stack-list {
    width: var(--website-width);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.stack {
    font-size: var(--font-size-h3);
    color: var(--color-light);
    font-family: var(--font-body);
    text-transform: var(--font-uppercase);
    line-height: 1;
}
.dot {
    width: 30px;
    height: 30px;
    background-color: var(--color-akcent);
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;
}

/* ------------CONTACT--------------- */

#contact {
    width: 100%;
    height: fit-content;
    position: relative;
    display: grid;
}
.contact-wrap {
    width: var(--website-width);
    margin: auto;
    display: grid;
    gap: 30px;
    margin-bottom: 160px;
}
.contact-title {
    font-size: 230px;
    color: var(--color-light);
    text-align: center;
}
.contact-list {
    display: grid;
    gap: 30px;
    justify-items: center;
}
.contact-item {
    font-size: 80px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--color-light);
    text-decoration: none;
}
.contact-item:hover {
    color: var(--color-akcent);
    transition: color 0.3s ease;
}
.koi-red {
    position: absolute;
    top: -340px;
    right: -300px;
    z-index: 10;
}
.koi-white {
    position: absolute;
    bottom: -140px;
    left: 100px;
    z-index: 10;
}