#about {
    width: 100vw;
    height: 100%;
    display: grid;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    height: 100vh;
    display: grid;
}
/* ------------DEVELOPER--------------- */
.developer-wrap {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-self: center;
    align-self: end;
    margin: 0 auto;
}
.developer-text {
    grid-area: 1 / 1;
    justify-self: start;
    align-self: end;
    z-index: 1;
    width: 600px;
    text-align: left;
    margin-bottom: 60px;
    font-size: 55px;
    color: var(--color-dark);
    text-shadow: 0 0 16px var(--color-light);
}
.developer-portrait {
    width: 1000px;
    grid-area: 1 / 1;
    justify-self: center;
    align-self: end;
}
.developer-graph {
    grid-area: 1 / 1;
    justify-self: end;
    align-self: start;
    margin-top: 50px;
    z-index: -1;
}

/* ------------DESIGNER--------------- */

.purple-bg {
    width: 100%;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: var(--color-primary);
    background-image: url(/Materials/noise.png);
    background-repeat: repeat;
    background-size: 600px;
    animation: grain-move 1s steps(10) infinite;
}

.designer-wrap {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-self: center;
    align-self: start;
    margin: 0 auto;
}
.designer-text {
    grid-area: 1 / 1;
    justify-self: end;
    align-self: start;
    z-index: 1;
    width: 600px;
    text-align: left;
    margin-top: 60px;
    font-size: 55px;
    color: var(--color-light);
    
}
.designer-portrait {
    width: 1000px;
    grid-area: 1 / 1;
    justify-self: center;
    align-self: end;
    z-index: 1;
}
.designer-graph {
    grid-area: 1 / 1;
    justify-self: start;
    align-self: end;
    margin-bottom: 50px;
    
}

@media(max-width: 1600px) {
    .developer-text {
        width: 500px;
        font-size: 50px;
    }
}

@media(max-width: 1000px) {
    .container {
        width: 100vw;
        height: fit-content;
        padding-top: 120px;
    }
    .developer-wrap {
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }
    .developer-text {
        position: unset;
        width: 100%;
        max-width: 100%;
        font-size: 40px;
        justify-self: center;
    }
   .developer-portrait {
        width: 100%;
        max-width: 100%;
        grid-area: 2 / 1;
   }
   .developer-graph {
        position: unset;
        width: 100%;
        max-width: 100%;
        grid-area: 2 / 1;
        justify-self: center;
        margin-bottom: 100px;
        margin-top: 0;
   }
}