footer {
    width: 100%;
    min-height: 180px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--color-secondary);
    z-index: -1;
    padding: 24px 0;
}

.footer-wrap {
    width: min(var(--website-width), calc(100% - 2rem));
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}
.footer-text {
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--color-dark);
    text-align: center;
    justify-self: end;
}
.footer-text:first-child {
    justify-self: start;
}
.footer-image {
    height: 80px;
    
}

@media(max-width: 700px) {
    footer {
        min-height: 120px;
        padding: 20px 0;
    }

    .footer-wrap {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 10px;
    }

    .footer-text,
    .footer-text:first-child {
        justify-self: center;
    }

    .footer-image {
        height: 60px;
    }
}
