@import url(/teaser.css);
@import url(/header.css);
@import url(/work.css);
@import url(/about.css);
@import url(/footer.css);

:root {
    --color-primary: #2C3ED0;
    --color-secondary: #CAD0FF;
    --color-akcent: #FE6D55;
    --color-dark: #0D0D0D;
    --color-light: #FCFDFF;
    --color-background: #FCFDFF;

    --font-title: Jost;
    --font-body: Darker Grotesque;
    --font-uppercase: uppercase;

    --website-width: 1600px;
    --max-width: 90%;
}

* {
    margin: 0;
}
* h1, h2, h3 {
 font-family: var(--font-title);
 text-transform: var(--font-uppercase);
}

* p {
    font-family: var(--font-body);
}

body {
    position: relative;
    overflow-x: hidden;
    isolation: auto !important;
    margin: 0;
    background-color: var(--color-background);
    background: url(/Materials/noise.png);
    background-repeat: repeat;
    background-size: 600px;
    animation: grain-move 1s steps(10) infinite;
}


/* Prevent scrolling on the index page and ensure it fits the viewport */
.index-page {
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 180px;
}

h3 {
    font-size: 60px;
}

p {
    font-size: 40px;
}

/* Grain animation */
@keyframes grain-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 200px;
  }
}

canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
}








  