#work {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: center;
    padding: 100px 0 200px 0;
    opacity: 0%;
    filter: blur(0px);
    /* transform: translateY(1000px); 
    transition: all 1s ease-in-out; */
}

#work.show {
    opacity: 100%;
    filter: blur(0px);
    /* transform: translateY(0px); */
}

.work-wrap {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.work-link {
    width: 100%;
    height: fit-content;
    margin: 0 0;
    text-decoration: none;
    overflow: hidden;
    transform: scale3d(1, 1, 1);
    transition: all 0.4s ease-in-out;
}
.work-link:hover {
    transform: scale3d(1.12, 1, 1);
    /* margin: 20px 0; */
    
}
.work-link:last-child:hover {
    margin: 0;
}

.work-title {
    width: 100%;
    color: var(--color-dark);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    padding-bottom: 2px;
    position: relative;
    text-align: right;
    transform: translateY(50px);
    filter: blur(33px);
    opacity: 0%;
    z-index: -1;
    transition: all 0.6s ease-in-out;
}
.work-link:hover .work-title {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 100%;
}

.work-image {
    display: inline-block;
    width: 100%;
    aspect-ratio: 400 / 100;
}


/* Responsive adjustments for tablets and smaller screens */
@media (max-width: 1000px) {
    .work-wrap {
        width: 80%;
        gap: 12px;
    }
    .work-title {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 100%;
        font-size: 24px;
    }
}

/* Responsive adjustments for mobile devices */
@media (max-width: 700px) {
    #work {
        padding: 100px 0 100px 0;
    }
    .work-title {
        font-size: 18px;
    }
}

